/* Banner for webpage */

#banner {
  border: 1px solid black;
  padding: 1px;
  width: 960px;
  height: 100px;
  text-align: center;
  margin: 0px;
  background-color: lightgrey;
  box-shadow: 5px 5px 5px #777777;
  border-radius: 5px;
}
#banner img {
  position: absolute;
  right: 40%;
  width: 100px;
  margin: 0px;
}
#banner h1 {
  opacity: 1;
}
#navbar {
  border: 1px solid black;
  border-top-width: 0px;
  background-color: lightgrey;
  box-shadow: 5px 5px 5px #777777;
  border-radius: 5px;
  text-align: center;
  list-style-type: none;
  height: 20px;
  margin: 0px;
  width: 962px;
}
#navbar ul {
  margin: 0px;
  padding: 0px 3px 0px 0px;
  z-index: 10;
}
#search_bar {
  float: left;
  margin: 0px;
}
#search_text {
  float: left;
  color: black;
  padding: 0px 10px 0px 0px;
}
input#search {
  float: left;
  left: 0px;
  margin: 15px 0px 0px 0px;
}
input#search_button {
  float: left;
  margin: 15px 0px 0px 0px;
}

/* All about links */
/* links is the physical text. */

li > a:active {
  color: blue;
}
li {
  display: inline;
  margin-right: 10px;
}
/* a:link refers to every link and what happens when they're pressed, hovered over, have been visitied, or are being clicked on. */
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
  color: darkred;
}
a:active {
  color: black;
}
p a:link {
  text-decoration: underline;
}
p a:link {
  color: black;
}

p a:hover {
  text-decoration: underline;
  color: darkred;
}
/*This is the information and body of the site's structure.*/
body {
  width: 960px;
  margin: 0px auto;
  background-repeat: repeat-x repeat-y;
  background-image: url("https://uploads.codesandbox.io/uploads/user/51e3018a-b58d-4793-8239-07d7e3a2102d/izYk-background-texture1.jpg");
}
#info {
  text-align: right;
  color: black;
}
#img {
  margin: 0px auto 0px auto;
  text-align: center;
}
.column_title {
  text-align: center;
  border: 1px solid black;
  background-color: gray;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #777777;
}
.column {
  text-align: left;
  border: 1px solid black;
  padding: 5px;
  clear: both;
  color: black;
  background-color: lightgray;
  box-shadow: 5px 5px 5px #777777;
}
#column_1 {
  float: left;
  width: 300px;
  padding: 5px;
  margin: 5px;
  height: 239px;
}
#column_2 {
  width: 300px;
  padding: 5px;
  margin: 5px;
  float: left;
  height: 239px;
}
#column_3 {
  width: 300px;
  padding: 5px;
  margin: 5px;
  float: left;
  height: 239px;
}
#big_column_1 {
  width: 460px;
  padding: 5px;
  margin: 5px;
  float: left;
}
#big_column_2 {
  width: 460px;
  padding: 5px;
  margin: 5px;
  float: left;
}
#huge_column {
  width: 940px;
  padding: 5px;
  margin: 5px;
  float: left;
}

/*This is the footer*/
#footer_list {
  list-style-type: none;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px;
}
#footer {
  width: 960px;
  position: fixed;
  bottom: 0px;
  margin: 0px;
  text-align: center;
  z-index: 10;
}
/*Hi this is a css comment.*/
